[submodule ".zsh-syntax-highlighting"]
	path = .zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".dircolors-solarized"]
	path = .dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "/Users/yogeshdhamija/.oh-my-zsh"]
	path = /Users/yogeshdhamija/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
