[submodule ".zsh-syntax-highlighting"]
	path = .zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".dircolors-solarized"]
	path = .dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".custom_zsh/plugins/ssh"]
	path = .custom_zsh/plugins/ssh
	url = https://github.com/zpm-zsh/ssh.git
[submodule ".custom_zsh/plugins/zsh-autosuggestions"]
	path = .custom_zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
