set surround
set commentary

nnoremap :bd<CR> :action CloseContent<CR>

nnoremap * yiw:/<C-R>"<CR>
vnoremap * y:/<C-R>"<CR>

nnoremap <Esc> <Esc>:noh<CR>:action HideSideWindows<CR>

nnoremap zL 40zl
nnoremap zH 40zh

" \t -> open Terminal
nnoremap \t :action ActivateTerminalToolWindow<CR>
" \d -> open Directory
nnoremap \d :action ActivateProjectToolWindow<CR>
" \f -> Find in directory
nnoremap \f :action FindInPath<CR>
" \o -> Open file
nnoremap \o :action SearchEverywhere<CR>
" \gd -> Goto Definition
nnoremap \gd :action GotoImplementation<CR>
" \gr -> Goto References
nnoremap \gr :action ShowUsages<CR>
" \h -> Help
nnoremap \h :action QuickJavaDoc<CR>:action ParameterInfo<CR>
" \b -> Buffers
nnoremap \b :action Switcher<CR>

command! Rename action RenameElement
command! REN Rename

command! CloseHiddenBuffers action CloseAllEditorsButActive
command! CLO CloseHiddenBuffers

command! Format action ReformatCode
command! FOR Format

command! Errors action GoToErrorGroup
command! ERRS Errors
command! Error action ShowErrorDescription
command! ERR Error
