set surround
set commentary
set ideajoin
set ideamarks

nmap <C-O> <Action>(Back)
nmap <C-I> <Action>(Forward)

nnoremap zL 40zl
nnoremap zH 40zh

nnoremap * *N
vmap * <Action>(Find)

nmap ` <Action>(ShowBookmarks)
nnoremap \c <Esc>:noh<CR>:action HideSideWindows<CR>
nmap \tj <Action>(ActivateTerminalToolWindow)
nmap \dh <Action>(SelectInProjectView)
nmap \f <Action>(FindInPath)
vmap \f <Action>(FindSelectionInPath)
nmap \o <Action>(GotoFile)
nmap \gd <Action>(GotoDeclaration)
nmap \gdd <Action>(GotoDeclaration)
nmap \gr <Action>(ShowUsages)
nmap \grr <Action>(ShowUsages)
nmap \h <Action>(QuickJavaDoc)
inoremap \h <Esc>:action ParameterInfo<CR>a
nmap z= <Action>(ShowIntentionActions)
vnoremap z= :action Refactorings.QuickListPopupAction<CR>
nmap \a <Action>(GotoAction)
nnoremap \b :tabn<CR>
nnoremap \B :tabp<CR>

command! Rename action RenameElement
command! REN Rename

command! CloseHiddenBuffers action CloseAllEditorsButActive
command! CLO CloseHiddenBuffers

command! ONLY only
command! ON ONLY

command! Format action ReformatCode
command! FOR Format

command! Errors action GoToErrorGroup
command! ERRS Errors
command! Error action ShowErrorDescription
command! ERR Error

command! DELMARKS action ShowBookmarks
command! DELM DELMARKS

nmap :q<CR> <C-W>c