set surround

source ~/.vimrc

map ;t :action ActivateTerminalToolWindow<CR>
map ;ldr :action VimWindowSplitVertical<CR> :action GotoDeclaration<CR>
map ;ld :action GotoDeclaration<CR>
map ;r :action NextTab<CR>
map ;bca :action CloseAllEditorsButActive<CR>
map ;lm :action SearchEverywhere<CR>
map ;o :action SearchEverywhere<CR>
map ;f :action SearchEverywhere<CR>
